@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using GoWeb.Models
@model VMView
@{
    Layout = null;
}

<div class="h2">Variant</div>
<br>
<div class="card">
  <form id="frmEditVariant" method="post" asp-action="Edit">
    <div class="card-header">Edit Menu</div>
        <div class="card-body">
            <div class="mb-3">
               <label>Name</label>
               <input type="text" name="Name" class="form-control"value="@Model.Name"/>
                <input type="hidden" name="Id" value="@Model.Id"/>
            </div>
            <div class="mb-3">
                <label>Email</label>
                 <input type="text" name="Email" class="form-control"value="@Model.Email"/>
            </div>
            <div class="mb-3">
                <label>Address</label>
                <input type="text" name="Address" class="form-control" value="@Model.Address"/>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary" id="btnSave"> Save </button>
            <button type="button" class="btn btn-primary" id="btnCancel"> Cancel </button>
        </div>
    </form>
</div>

<script>
    $("#btnCancel").click(function () {
        $("#MyModal").modal("hide");
    });

    $("#frmEditVariant").validate({
        errorClass: "text-danger",
        rules: {
            Name: "required",
            Email: "required",
            Address: "required"
        }
    });
</script>
